{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/style.css' %}">
    <title>{% block tittle %}{% endblock %}</title>
</head>
<body>
    <div>
        <!--main container-->
        <div>
            <!--nav contaniner-->
            <nav class="nav">
                <div class='nav-tittle'>
                    <p>Kwiaciarnia Bellis</p>
                </div>
                <div class="nav-links">
                    <a class="link" href="{% url 'home' %}">home</a>
                    <a class="link" href="{% url 'shop' %}">shop</a>
                    <a class="link" href="{% url 'about' %}">about</a>
                    <a class="link" href="{% url 'success' %}">success</a>
                    <a class="link" href="{% url 'contact' %}">contact</a>
                </div>
            </nav>
        </div>
        <div>
            <!--content-->
        {% block content %}
        {% endblock %} 
       </div>
    </div>
</body>
</html>